<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tareas Retrasadas</title>
</head>
<body>
    <h1>Tareas Retrasadas</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>End Date</th>
        </tr>
        <tr th:each="tarea : ${tareas}">
            <td th:text="${tarea.getId()}"></td>
            <td th:text="${tarea.getName()}"></td>
            <td th:text="${tarea.getEndDate()}"></td>
        </tr>
    </table>
</body>
</html>