<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
    <h1>Detalled Student</h1>
    <p th:text="${student.getName()}"></p>>
    <p ><a th:href="@{/houseD/{name}(name=${student.getHouse().getName()})}" th:text="${student.getHouse().getName()}"></a></p>>
    <p th:text="${student.getPatronus()}"></p>>

</body>
</html>