<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista De Equipos</title>
</head>
<body>
<h1>Lista de Trabajadores</h1>
<h2><a th:href="@{trabajador/create}">Crear Trabajador</a></h2>
<table>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Equipo</th>
        <th>tareas</th>

    </tr>
    <tr th:each="trabajador : ${trabajadores}">
        <td th:text="${trabajador.getId()}"></td>
        <td th:text="${trabajador.getName()}"></td>
        <td th:text="${trabajador.getEdad()}"></td>
        <td th:text="${trabajador.getEquipo()}"></td>
        <td th:text="${trabajador.getTareas()}"></td>
    </tr>
</table>
</body>
</html>