<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trabajador Detallado</title>
</head>
<body>
<h1>Trabajador Detallado</h1>
<b>Id:</b><p th:text="${trabajador.getId()}"></p>
<b>Nombre:</b><p th:text="${trabajador.getName()}"></p>
<b>Edad:</b><p th:text="${trabajador.getEdad()}"></p>
<b>Equipo:</b><p th:text="${trabajador.getEquipo().getName()}"></p>
<b>Tareas:</b><p th:each="tarea : ${trabajador.getTareas()}" th:text="${tarea.getName()}"></p>
</body>
</html>