<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista De Equipos</title>
</head>
<body>
<h1>Equipo Detallado</h1>
    <b>Id:</b><p th:text="${equipo.getId()}"></p>
    <b>Nombre:</b><p th:text="${equipo.getName()}"></p>
    <b>Trabajadores:</b><p th:each="trabajador : ${equipo.getTrabajadores()}" th:text="${trabajador.getName()}"></p>
</body>
</html>