<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista De Equipos</title>
</head>
<body>
    <h1>Lista de Equipos</h1>
    <a th:href="@{/equipo/create}">><h2>Crear Equipo</h2></a>
    <table>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Trabajadores</th>
        </tr>
        <tr th:each="equipo : ${equipos}">
            <td th:text="${equipo.getId()}"></td>
            <td><a th:href="@{/equipo/{id}(id=${equipo.getId()})}" th:text="${equipo.getName()}"></a></td>
            <td th:each="trabajador : ${equipo.getTrabajadores()}" th:text="${trabajador.getName()}"></td>
            <td><a th:href="@{/equipo/modificar/{id}(id=${equipo.getId()})}">modificar</a></td>
        </tr>
    </table>
</body>
</html>